html {
  scroll-behavior: smooth;
}

body {
  margin: 0rem;
  padding: 0rem;
  font-family: 'Open Sans', sans-serif;
  background-color: #0a5cb9;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0rem;
  animation-name: fadein;
  animation-duration: 1s;
}

.navbar-brand-name {
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 5rem;
  cursor: pointer;
  color: white;
}

.navbar-links {
  display: flex;
  justify-content: space-around;
  margin-right: 5rem;
  width: 20%;
}

.navbar-links-item {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

#introduction {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  animation-name: fadein;
  animation-duration: 2s;
}

.hello-text {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
  color: white;
}

.hello-text :first-child {
  font-size: 3.5rem;
}

.hello-text :last-child {
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  margin-top: 1.5rem;
}

.social-links-item {
  color: white;
  font-size: 1.5rem;
  margin-right: 1.5rem;
}

.social-links-hashnode {
  width: 21px;
}

.my-image img {
  width: 380px;
  animation-name: fadein;
  animation-duration: 3s;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-blue {
  color: #107f9e;
}

.section-heading {
  font-family: 'Fredoka One', cursive;
  font-size: 2.5rem;
  text-transform: uppercase;
}

#projects {
  background-color: white;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 3rem;
}

.card-image {
  width: 100%;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  color: #107f9e;
  text-transform: uppercase;
}

.card-text {
  height: 120px;
  line-height: 1.5;
}

.card-links {
  display: flex;
}

.card-links-item {
  text-decoration: none;
  background-color: #1cb5e0;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  margin-right: 1rem;
}

#blogs {
  padding-top: 3rem;
  color: white;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbar-brand-name {
    font-size: 1.2rem;
    margin-left: 0rem;
  }
  .navbar-links {
    display: flex;
    justify-content: space-around;
    margin-right: 1rem;
    width: 35%;
  }
  .navbar-links-item {
    font-size: 0.8rem;
  }
  .hello-text {
    font-size: 1.7rem;
  }

  .hello-text :first-child {
    font-size: 1.2rem;
  }

  .hello-text :last-child {
    font-size: 0.7rem;
    margin: 1rem 0;
  }

  .social-links-item {
    font-size: 0.8rem;
  }

  .social-links-hashnode {
    width: 12px;
  }

  .my-image img {
    width: 180px;
  }

  .section-heading {
    font-size: 2rem;
  }

  .card {
    width: 300px;
    margin: 1rem;
  }
  #blogs {
    padding-top: 2rem;
  }
}
